body{
    font-family: 'Noto Sans Display';
}

.user-info{
    background-color: rgba(83,117,172,1);
    height: 250px;
    display: flex;
    flex-direction: row;
}

.user-info-detail{
    width: 600px;
    display: flex;
}

.user-image{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 2px solid white;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
}

#info{
    font-weight: bold;
}

.user-info{
    color: white;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.side-bar{
    background-color:whitesmoke;
    height: 50px;
}

ul{
    margin-top: 0px;
    padding: 7px 0 0 90px;
}

ul li{
    list-style-type: none;
    display: inline;
    padding: 12px;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.fa-home{
    font-size: 30px;
    color: cornflowerblue;
}

.footer{
    display: flex;
    flex-direction: row;
}

#address{
    color: white;
    margin-left: 100px;
    font-weight: bold;
}


#mail{
    color: white;
    margin-left: 50px;
    font-weight: bold;
}

.fa-map-marker-alt{
    font-size: 18px;
}

.fa-envelope{
    font-size: 18px;
}

#phone-number{
    color: white;
    margin-left: 50px;
    font-weight: bold;
}

.fa-phone-alt{
    font-size: 18px;
}

#team{
    color: white;
    margin-left: 120px;
    font-weight: bold;
}

.fa-user-friend{
    font-size: 18px;
}