.list-music{
    display: flex;
    flex-direction: row;
}

.image-playlist{
    width: 150px;
    height: 150px;
    background-color:darksalmon;
    margin-left: 100px;
}

#playlist-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 10px;
    text-decoration: none;
    color: black;
}

#username{
    margin: 5px 0 0 10px;
    font-weight: bold;
}

#playlist-information{
    margin: 5px 0 0 10px;
    font-weight: bold;
}

.footer{
    background-image: linear-gradient(to right, #348feb, #34a8eb);
    height: 60px;
}

.play-list{
    height: 355px;
}

